<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form" id="editForm"> 
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <span>({{ post.post_url}})</span>
    </div>
    <div>

    <textarea type="text" cols="50" rows="7" maxlength="500" id="text-body" name="text-body" value="{{post.text_body}}">{{post.text_body}}</textarea>
    </div>
    <div>
    ON: {{format_date post.created_at}}
      |
      <a href="/post/{{post.title}}">{{post.text_body}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>